/* ==========================================================================
   Table of Contents
   ==========================================================================

Built mobile first so check media queries first if you're looking
for a desktop specific style.

sm, md, and lg prefixes mean they will apply to small (mobile), medium (tablet),
or large (desktop) screen sizes.

1. Layout & General
2. Typography & Headings
3. Header
4. Nav
5. Content/Media
6. Footer
7. Other
8. Media Queries

Flex Grid System
----------------

My flex grid system is simple and based on Chris Coyier's: https://css-tricks.com/dont-overthink-flexbox-grids/

Just add .grid to a containing element to make it a flex grid.

Use .col to make a child of a .grid a dynamically sized column.

.sm, .md, .lg, and .xl correspond to screen sizes from mobile to tablet, desktop, and large desktop.

*/


/*=======================
1. Layout & General
========================*/

* {
    box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    /* general responsive img style */
}

hr {
    border-top: 1px solid #7e8aa2;
    /* override default color */
}

section:nth-child(even) {
  background: #fff;
}


/* Flex Grid*/

.flex {
    display: -ms-flexbox;
    display: flex;
}

.grid {
    display: block;
}

.col {
    -ms-flex: 1;
    flex: 1;
}

.sm-whole {
    width: 100%;
}

.gutters {
    padding: 0.5em;
}

.flex-v-center {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    /* vertically center align the flex items to the container*/
}

.flex-justify {
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* creates max space in between each of the flex items until items fill container */
}

/* Alignment & Spacing */

.center-text {
    text-align: center;
}

.center {
    margin: auto;
}

.no-margin {
    margin: 0;
}

.margin-1 {
    margin: 1em;
}

/* Border Shape */

.round {
  border-radius: 99%;
}

.border {
  border: 1px solid #fff;
}

/* Buttons/Links */

.link {
    text-decoration: none;
    color: #184394;
}

.link:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    min-width: 7em;
    margin: 1em auto;
    padding: 0.2em 1em;
    transition: 0.3s all;
    text-align: center;
    text-decoration: none;
    color: #c3944e;
    outline: 1px solid #c3944e;
    /* outline instead of border so it doesn't shift content a pixel */
    font-weight: 400;
}

.btn:hover {
    background: #FF9800;
    color: #fff;
}

.btn:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.6);
}

/* Background Colors */

.bg-blue {
  background: #707f94;
}
.bg-red {
  background: #ac6d6d;
}
.bg-green {
  background: #73a16a;
}
.bg-yellow {
  background: #b9965a;
}
.bg-purple {
  background: #a18999;
}

/* Slide in border animated transition for links/btns*/

.slide{
  /* so the border pseudoelements are positioned within this element */
  position: relative;
}
.slide:before,
.slide:after {
  content: '';
  /* allows direction of sliding to be adjusted,
  also lets borders conform to element's shape, including padding */
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  width: 0;
  transition: width .5s ease;
}
.slide:before {
  /*slides in pseudoelement from the left*/
  top: 0;
  left: 0;
}
.slide:after {
  /*slides in pseudoelement from the right*/
  right: 0;
  bottom: 0;
}
.slide:hover:before,
.slide:hover:after {
  width: 100%;
}

/* Lists */

.list-no-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline-block li{
  display: inline-block;
}

/* Sizing */

.inherit-height {
    height: inherit;
}

/*=======================
2. Typography & Headings
========================*/


/* Headings */

h1 {
    font-size: 3em;
}


/* Text Styling */

.unbold {
    font-weight: 300;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.all-caps,
.uppercase {
    text-transform: uppercase;
}

.small-text {
    font-size: 0.8em;
}

.big-text {
    font-size: 1.3em;
}

.big-5-text {
  font-size: 5em;
}

.spaced-text {
  letter-spacing: 0.2em;
}

/* Text Colors */

.white {
    color: #fff;
}

.mid-gray {
  color: #555;
}

.dark-gray {
    color: #333;
}

.sm-black {
    color: #000;
}

/* Effects */

.ghost-shadow {
    letter-spacing: .05em;
    text-shadow: 2px 2px 0 #ddd, 4px 4px 0 rgba(0, 0, 0, 0.1);
    /* first shadow must be same as bg color */
}

.deep-shadow {
  letter-spacing: .15em;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.divider {
  display: inline-block;
}

.divider:after {
  content: '';
  display: block;
  width: 80%;
  margin: 0.5em auto 0 auto;
  border-top: 3px solid #82b8b5;
}


/*=======================
3. Header
========================*/

header {
    /*declared height needed since fixed header is out of doc flow, header height pushes elements down */
    height: 5em;
    /* height should be same as (height+paddings) for the fixed wrapper */
}

.fixed-wrapper {
    position: fixed;
    /* sticky top bar */
    z-index: 999;
    /* Keep it visible on top of content */
    width: 100%;
    /* maintain height of header */
    background: #263248;
    background-image: linear-gradient(160deg, #263248 0%, #828ea6 100%);
}

.logo {
    display: block;
    max-height: 2em;
    /* Keep it in the header */
    margin: auto;
    transition: 0.3s all;
}

.logo:hover {
    opacity: 0.7;
}


/*=======================
4. Nav
========================*/

nav {
    width: 100%;
    margin: 0.5em 0;
}

nav a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    color: #fff;
    background: #444;
    background: rgba(51, 51, 51, 0.25);
    opacity: 0.6;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
  background: transparent;
  opacity: 1;
}

/*=======================
5. Content/Media
========================*/

section {
    padding: 1em;
}

.container {
  max-width: 50em;
  margin: auto;
}

blockquote {
  display: block;
  padding: 0 1.5em;
  font-size: 1.4em;
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  border: 3px solid #800000;
  border-width: 0 3px;
}

/* Hero Text/Image*/

.hero {
    max-width: 100%;
    /* Fallback if vh unsupported */
    height: 30em;
    /* Fill the screen */
    height: 100vh;
    margin: 0;
    padding: 0;
    border-bottom: 0.5em solid #1b242f;
    /* fallback for linear gradient bg*/
    background: #006e87;
    background: linear-gradient(232deg, #006e87, #c35050);
    /* prep for animation of bg position */
    background-size: 400% 400%;
    animation: AnimatedBG 8s ease infinite;
}

@keyframes AnimatedBG {
  0% {background-position: 0 47%;}
  50% {background-position: 100% 60%;}
  100% {background-position: 0 47%;}
}

/* Featured Content */

.featured {
    max-width: 60em;
    /* since it's not one long sentence but divided content it can be wider*/
    margin: -3em auto 0 auto;
    /* slightly overlay top of featured over the hero */
    padding: 0;
}

article {
    width: 100%;
    transition: 0.3s all;
    border-top: 0.5em solid #263248;
    border-image: linear-gradient(95deg, #263248 0%, #828ea6 100%);
    border-image-slice: 1;
    background: #fff;
}

article:hover {
    transition: all 0.3s;
    border-color: #FF9800;
    border-image: linear-gradient(95deg, #263248 0%, #FF9800 100%);
    border-image-slice: 1;
}

article:hover
    .btn {
    /* style the button when pointer enters the article */
    background: #c3944e;
    outline: 0;
    color: #fff;
}

article:hover
    .btn:hover {
    /* set a hover bg since the specificity of the bg overrides the default button hover effect */
    background: #FF9800;
}

.feature-img {
    transition: 0.5s all;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.feature-img:hover {
    opacity: 0.9;
}

/* Summary */

.summary {

}

.tile-item {
  padding: 1em;
  transition: all 0.3s;
}

.tile-item:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.46);
  transform: scale(1.1);
}

.tag {
    padding: 0.3em 1em;
    margin: 0.3em;
    border: 1px solid #ccc;
    border-left: 3px solid #ac6d6d;
    font-weight: 100;
    transform: skewX(-15deg);
}

.work {

}

.projects {

}

.education {

}

.map {
  height: 20em;
}

/*temp styles from old page, integrate these into new page asap*/
#mapDiv {
  height: inherit;
    width: 100%;
    padding-bottom: 5%;
}
#map {
  display: block;
    height: 100%;
    margin: 0 5%;
}

/* Contact */

.contact li {
    display: inline-block;
    margin: 0 1.8em 0.5em 0;
}


/* About */

.headshot {
    margin: 0 1em 1em 0;
    border-radius: 99%;
}


/*=======================
6. Footer
========================*/

footer {
    width: 100%;
    padding: 1em 0;
    border-top: 0.3em solid #7e8aa2;
    background: #263248;
    background-image: linear-gradient(160deg, #263248 0%, #828ea6 100%);
}

footer a {
    display: inline-block;
    /* so the footer expands with their height/padding */
    padding: 1em;
}


/*=======================
7. Other
========================*/


/* Animations */

.fade-in {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Fontello Icon Font Plugin */

@font-face {
    font-family: "fontello";
    font-weight: normal;
    font-style: normal;
    src: url("../font/fontello.eot");
    src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.woff2") format("woff2"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype"), url("../font/fontello.svg#fontello") format("svg");
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    width: 1em;
    margin: 0 0.5em 0 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    font-family: "fontello";
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    speak: none;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: '\e800';/* '' */
}

.icon-linkedin:before {
    content: '\e801';/* '' */
}

.icon-gmail:before {
    content: '\e802';/* '' */
}

.icon-upwork:before {
    content: '\e803';/* '' */
}


/*=======================
8. Media Queries
========================*/


/* Microscopic screens, probably unnecessary but just in case */

@media only screen and (max-width:300px) {
    body {
        font-size: 16px;
    }

    header {
        height: 7em;
        /* increase space so the header bar doesnt cover the hero on tiny screens */
    }
}


/* For tablets */

@media only screen and (min-width: 480px) {

    /* Flex Grid */

    .grid {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /* so it can break to the next line */
    }

    .md-whole {
        min-width: 100%;
    }

    .md-halves {
        min-width: 50%;
    }

    .md-natural {
        min-width: 0;
    }

    /* Animate the breakpoint transitions */

    .grid, .md-whole, .md-halves, .lg-thirds {
        transition: 0.3s all;
    }

    /* Typography */

    .md-text-size-4 {
      font-size: 4em;
    }

    .md-text-size-2 {
      font-size: 2em;
    }

    /* About */

    .headshot {
        float: left;
    }
}


/* For Desktop */

@media only screen and (min-width: 1000px) {

    /* Flex Grid */

    .lg-flex {
        display: -ms-flexbox;
        display: flex;
    }

    .lg-thirds {
        min-width: 33.33%;
    }

    /*Typography*/

    .lg-white {
        color: #fff;
    }

    .lg-outline {
        text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
        /* 1px shadows on all 4 sides to outline the letters */
    }

    .lg-text-size-5 {
      font-size: 5em;
    }

    .lg-text-size-3 {
      font-size: 3em;
    }

    /* Header/Nav */

    .logo-link {
        display: block;
        /* allows margins in ie10 */
        margin: 0 0 0 5%;
        /* keep the logo from getting too close to the edges */
    }

    .logo {
        width: 10em;
        max-height: 3em;
        /* bigger screens mean bigger logos :p */
    }

    nav {

    }

    /* Hero */

    .hero {
    }

    /* Featured */

    .featured {
        margin: -2em auto 1em auto;
    }

    .featured .lg-thirds:nth-child(2) {
        margin: -1em 0 0 0;
        /* offset the middle featured item for visual interest */
    }
}


/* For Large Desktop Screens */

@media only screen and (min-width: 1200px) {

    /* Layout & General */

    .xl-80-max-width {
        max-width: 80em;
    }

    .xl-80-width {
        width: 80em;
    }

    /* Typography & Headings */

    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 1.8em;
    }
}

/* For Gigantic Screens, Like TV Size */

@media only screen and (min-width: 2500px) {

  body {
    font-size: 30px;
    /* Scale everything up so it's not so tiny on a huge screen */
  }

}
